<!doctype html>
<head>
    <title>Anniedoc &ndash; Hamlet</title>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:900,700,700italic,300,300italic|Merriweather+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/less/style.less" type="text/less">

    <script src="/js/less.min.js" type="text/javascript"></script>
    <!--<script src="/bootstrap/js/bootstrap.min.js"></script>-->
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="/js/jquery.loadTemplate-1.2.6.min.js" type="text/javascript"></script>
    <script src="/js/lines.js" type="text/javascript"></script>
</head>
<body>

<div id="progress-bar" class="visible-md visible-lg">
    <span id="status"><span class="glyphicon glyphicon-chevron-left"></span></span>
</div>

<div class="container">
    <div class="top row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Hamlet</h1>
        </div>
        <div class="col-md-3">
            <div id="menu">
                <span class="brand"><span class='glyphicon glyphicon-edit'></span> anniedoc</span>
                <a href="/">home</a>
                <a href="/about/">about</a>
            </div>
        </div>
    </div>
    <div class="row">
    <section id="play" ng-app="myApp">
        <div id="hamlet" class="text col-md-12">
        </div>
    </section>
    </div>
</div>

<script type="text/html" id="annie-template" type="text/x-jquery-tmpl">

    <a class='annie-toggle add-annotation-button pull-left' title="Add annotation">
        <span class='glyphicon glyphicon-edit'></span> Add
    </a>
    
    <div class="annotations-container">
    </div>

    <div class="add-annotation">
        <button type="button" class="annie-toggle close" aria-hidden="true">&times;</button>
        <form role="form" class="pull-right">
            <div class="form-group">
                <textarea name="annotation" class="form-control" placeholder="Here is where you share the thoughts that you think"></textarea>
            </div>
            <div class="form-group">
                <input name="author" class="form-control" placeholder="Your name"></input>
            </div>
            <input type="submit" class="button">
        </form>
    </div>
</script>

<script type="text/html" id="annotations-template" type="text/x-jquery-tmpl">
    {{if annotations}}
        <a class="annotations-toggle show-annotations-button pull-right">
            <span class="glyphicon glyphicon-comment"></span> (<strong>${count}</strong>)
        </a>
    {{/if}}

    <div class="show-annotations">
        <button type="button" class="annie-toggle close" aria-hidden="true">&times;</button>
        {{each annotations}}
            <div class="annotation">
                <div class="annotation-text">${text}</div>
                <div class="author">&ndash; ${author}</div>
            </div>
        {{/each}}
    </div>
</script>

<script type="text/html" id="progress-item-template" type="text/x-jquery-tmpl">
    <a href="#${id}" class="${ type }" style="top: ${position}px" title="${ text }">
        {{if type=='act'}}
            <span class="glyphicon glyphicon-tower"></span>
        {{else}}
            {{if type=='annie'}}
                <span class="glyphicon glyphicon-comment"></span>
            {{else}}
                <span>&#9632;</span>
            {{/if}}
        {{/if}}
    </a>
</script>

</body>
</html>