{% extends 'index.html' %}

{% block title %}about{% endblock %}
{% block page_title %}{% endblock %}
{% block line_script %}{% endblock %}
{% block progress_bar %}{% endblock %}
{% block templates %}{% endblock %}

{% block content %}
<div id="about">
    <div class="col-md-12">
        <img src="/static/img/elsinore.jpg" alt="Kronborg Castle in Helsingør, DK &ndash; the real-life Elsinore" title="Kronborg Castle in Helsingør, DK &ndash; the real-life Elsinore" class="img-responsive">
    </div>
    <div class="col-md-offset-3 col-md-6">
        <h2>About anniedoc</h2>
        <p>anniedoc is a prototype for annotating any text-based document inline via the web. It uses Shakespeare's <em>Hamlet</em>, a public-domain text <a href="http://shakespeare.mit.edu/">marked up and made available on the web by MIT</a>, as its sample document.</p>
        <p>This project attempts to balance encouraging viewer engagement and collaboration with providing a calm, focused, uncluttered reading environment.</p>
        <p>Libraries used include Flask, LESS, JQuery, jquery-tmpl, and Bootstrap 3. <a href="https://github.com/aldeka/anniedoc">Source code is available on Github.</a></p>
        <p>anniedoc was built by <a href="http://www.littlegreenriver.com">Karen Rustad</a> as part of <a href="http://hackday.linkedin.com/developher/2013">DevelopHer 2013</a>.</p>
        <p class="foot">&nbsp;</p>
    </div>
</div>
{% endblock %}