Bowman v. Government of US




<!--OPINION TEXT STARTS HERE-->
<html>
 <body>
  <p data-paragraph-id="e6816812-2235-4228-ac26-c480caef136f" data-paragraph-length="39">
   William F. Bowman, pro se, Berwick, PA.
  </p>
  <p data-paragraph-id="8bede50f-af25-4f7a-81ba-2c6ee4393931" data-paragraph-length="71">
   Virginia R. Powel, U.S. Atty. Office, Philadelphia, PA, for defendants.
  </p>
  <p data-paragraph-id="3c9dedb4-ddef-446c-8aee-243bf42a15a0" data-paragraph-length="156">
   R. Douglass Sherman, Dept. Atty. Gen., Office of Atty. Gen., Harrisburg, PA, for Tom Ridge, Pa. Gov., George V. Voinovich, Ohio Governor, and State of Ohio.
  </p>
  <p data-paragraph-id="b2b9e0ce-cbc3-4359-bd5d-706dd77b1da0" data-paragraph-length="92">
   Warren R. Calvert, Sheri L. Smith, Atty. Gen. Office, Atlanta, GA, for Zell Miller, Ga. Gov.
  </p>
  <p data-paragraph-id="adcac972-6aae-415c-b939-c8f86dc9d600" data-paragraph-length="99">
   Henry S. Cohn, Asst. Gen. Ofc., Special Litigation Dept., Hartford, CT, for John Rowland, Con. Gov.
  </p>
  <p data-paragraph-id="cc58381b-72e7-437f-a6ad-21dd0ad1ff02" data-paragraph-length="94">
   Kathleen S. Hoke, Atty. Gen. Office &#8212; Maryland, Baltimore, MD, for Parris Glendening, Md. Gov.
  </p>
  <p data-paragraph-id="bcaea2b2-76b1-40e5-b7e7-d964968016d4" data-paragraph-length="96">
   <span class="page_number" data-page="624" data-reporter="F. Supp. " data-volume="920">
    *624
   </span>
   <span class="page_number_margin" data-page="624" data-reporter="F. Supp. " data-volume="920">
    624
   </span>
   Jacob L. Safron, N.C. Dept. of Justice, Raleigh, NC, for James H. Hunt, Jr., N.C. Gov.
  </p>
  <p data-paragraph-id="57485c46-bfaa-4254-8b40-e55a0c9d709b" data-paragraph-length="131">
   Meredith Devault, Atty. Gen. Office, Nashville, TN, for Don Sundquist, Tenn. Gov., 34 Alleged State Governments, and State of Tenn.
  </p>
  <p data-paragraph-id="d42b44be-d2b7-4af2-8cb6-12c34e06ece5" data-paragraph-length="120">
   David A. Oppenheimer, Atty. Gen. Office of Ohio, Columbus, OH, for George V. Voinovich, Ohio Governor and State of Ohio.
  </p>
  <p data-paragraph-id="37b7810a-4f8a-48b7-a7ff-fd5038bff3d1" data-paragraph-length="83">
   Terry G. Duga, Office of the Atty. Gen., Indianapolis, IN, for Evan Bayh, Ind. Gov.
  </p>
  <p data-paragraph-id="5c66129d-dbae-4cb6-8a1b-78c35c181d11" data-paragraph-length="91">
   Gordon E. Allen, Atty. Gen. Office of Iowa, Des Moines, IA, for Terry E. Branstad, Ia. Gov.
  </p>
  <p data-paragraph-id="54d2e013-774d-4f64-ac75-e941d1bdb8fb" data-paragraph-length="89">
   Benjamin Gore Gaines, Atty. Gen. Office, Oklahoma City, OK, for Frank Keating, Okla. Gov.
  </p>
  <p data-paragraph-id="d21a5f3d-23e7-448a-9f4e-3300ef5fc731" data-paragraph-length="10">
   <strong>
    <i>
     MEMORANDUM
    </i>
   </strong>
  </p>
  <p data-paragraph-id="e8f10c85-0cbc-47e8-a87f-5c9a6df01fe6" data-paragraph-length="32">
   LOUIS H. POLLAK, District Judge.
  </p>
  <p data-paragraph-id="1e81b4a7-f963-4a92-8e2d-1fc336460fdc" data-paragraph-length="542">
   In an order filed November 1, 1995, this court found that a
   <i>
    sua sponte
   </i>
   application of Federal Rule of Civil Procedure 12(b)(6) might be appropriate, and stated that the plaintiff "may, before November 20, 1995, submit a supplemental memorandum of law addressing the applicability of the standing and political question doctrines to his first group of claims." The plaintiff has now submitted that supplemental memorandum of law, and so I will now consider whether the plaintiff's first group of claims should be dismissed under Rule 12(b)(6).
  </p>
  <p data-paragraph-id="8ed71410-e3f5-4d41-9343-5dd5a8d38495" data-paragraph-length="673">
   I will not summarize the complaint at the same length that I did in the November 1 memorandum. Readers wishing a detailed account of the complaint are referred to that document.
   <i>
    See Bowman v. United States,
   </i>
   No. 95-5863 (E.D.Pa. Nov. 1 1995). The complaint's first group of claims all derive from Mr. Bowman's assertion that Ohio's admission to the Union in 1803 was performed illegally.
   <sup>
    <a href="#1" name="fn1">
     1
    </a>
   </sup>
   The complaint asserts that this flaw rendered ineffective the admission of all subsequent states into the Union, and rendered invalid most of the acts of the present (and, in the complaint's view, purported) federal government &#8212; including,
   <i>
    inter alia,
   </i>
   its imposition of an income tax.
   <sup>
    <a href="#2" name="fn2">
     2
    </a>
   </sup>
  </p>
  <p data-paragraph-id="d3e6e0b0-0ab7-4e29-8edc-279f75fea98b" data-paragraph-length="604">
   <span class="page_number" data-page="625" data-reporter="F. Supp. " data-volume="920">
    *625
   </span>
   <span class="page_number_margin" data-page="625" data-reporter="F. Supp. " data-volume="920">
    625
   </span>
   This court finds that it cannot decide the question of the legality of the process by which Ohio was admitted to the Union, because doing so would entail an impermissible encroachment upon the authority of the political branches of the Government.
   <sup>
    <a href="#3" name="fn3">
     3
    </a>
   </sup>
   The foundations of the doctrine that bars such encroachment, the political question doctrine, were laid by Chief Justice Marshall in
   <i>
    Marbury v. Madison,
   </i>
   5 U.S. (1 Cranch) 137, 2 L.Ed. 60 (1803) &#8212; a case that was decided, coincidentally, in 1803, the year of Ohio's contested admission to the Union. In that case, the Chief Justice observed that:
  </p>
  <blockquote>
   The intimate political relation, subsisting between the president of the United States and the heads of departments, necessarily renders any legal investigation of the acts of one of those high officers particularly irksome, as well as delicate; and excites some hesitation with respect to the propriety of entering into such investigation. Impressions are often received without much reflection or examination, and it is not wonderful, that in such a case as this, the assertion, by an individual, of his legal claims in a court of justice, to which claims it is the duty of that court to attend, should at first view be considered by some, as an attempt to intrude into the cabinet, and to intermeddle with the prerogatives of the executive.
  </blockquote>
  <blockquote>
   It is scarcely necessary for the court to disclaim all pretensions to such a jurisdiction. An extravagance, so absurd and excessive, could not have been entertained for a moment. The province of the court, is, solely, to decide on the rights of individuals, not to inquire how the executive, or executive officers, perform duties in which they have a discretion. Questions, in their nature political, or which are, by the constitution and laws, submitted to the executive, can never be made in this court.
  </blockquote>
  <p data-paragraph-id="b196c266-ee66-43f2-853e-736ffe83fb15" data-paragraph-length="14">
   <i>
    Id.
   </i>
   at 169-70.
  </p>
  <p data-paragraph-id="a891a545-0738-4a90-8ee9-a83b0fa85dd3" data-paragraph-length="165">
   The Court further explained the contours of this doctrine in
   <i>
    Baker v. Carr,
   </i>
   369 U.S. 186, 82 S.Ct. 691, 7 L.Ed.2d 663 (1962), in which Justice Brennan observed that:
  </p>
  <blockquote>
   Prominent on the surface of any case held to involve a political question is found a textually demonstrable constitutional commitment of the issue to a coordinate political department; or a lack of judicially discoverable and manageable standards for resolving it; or the impossibility of deciding without an initial policy determination of a kind clearly for nonjudicial discretion; or the impossibility of a court's undertaking independent resolution without expressing lack of the respect due coordinate branches of government; or an unusual need for unquestioning adherence to a political decision already made; or the potentiality of embarrassment from multifarous pronouncements by various departments on one question.
  </blockquote>
  <p data-paragraph-id="7f4ef9b9-dfc1-4b4c-86fe-493d06e0df9f" data-paragraph-length="28">
   <i>
    Id.
   </i>
   at 217, 82 S.Ct. at 710.
  </p>
  <p data-paragraph-id="5804dd7a-5ca3-4b10-ae73-50b519feffde" data-paragraph-length="1229">
   The question raised by Mr. Bowman would seem to have several of the features identified by Justice Brennan in
   <i>
    Baker v. Carr
   </i>
   <i>
    .
   </i>
   The legislative and executive branches evidently assumed, in 1803, that Ohio had been properly admitted to the Union, and they appear to have acted on that assumption ever since.
   <sup>
    <a href="#4" name="fn4">
     4
    </a>
   </sup>
   It is at least conceivable that it would have been within the judicial power to entertain a challenge to the legality of Ohio's admission to the Union had such a challenge been brought in 1803.
   <sup>
    <a href="#5" name="fn5">
     5
    </a>
   </sup>
   At that time, such a
   <span class="page_number" data-page="626" data-reporter="F. Supp. " data-volume="920">
    *626
   </span>
   <span class="page_number_margin" data-page="626" data-reporter="F. Supp. " data-volume="920">
    626
   </span>
   suit might have served to call attention to a defect in the admission process which could then have been easily remedied. Now, however, almost two hundred years have passed, during which time Ohio has been treated as a state. To treat Ohio otherwise at this stage would disturb expectations that have been settled for almost two centuries, and contradict a great many years of practice by the elected branches, demonstrating a considerable lack of respect for those branches. Moreover, it would do so in order to vindicate a right that is purely procedural in nature, if it exists at all. This question would thus seem to be "political" in nature, and so one which this court may not properly decide.
  </p>
  <p data-paragraph-id="f5389524-5c0e-4cf5-b96e-a0d59c797a71" data-paragraph-length="8">
   --------
  </p>
  <small>
  </small>
  <p data-paragraph-id="1477af7b-508e-4c9a-b247-ec90f2aade5d" data-paragraph-length="6">
   Notes:
  </p>
  <p data-paragraph-id="9793bf0a-e68b-40a3-8700-c95b22379b02" data-paragraph-length="104">
   <a href="#fn1" name="1">
    1
   </a>
   Purely as a matter of historical interest, an article in the
   <i>
    Columbus Dispatch
   </i>
   on this topic states:
  </p>
  <p data-paragraph-id="533761d3-3985-4ce7-8e11-8477a9c33230" data-paragraph-length="787">
   There has been friendly conjecture among history buffs over the years whether Ohio was the 17th or the 48th state admitted to the union. Paul Sullivan of Galena said that's what everybody was buzzing about during the state's 150th birthday. When the statehood documents were dug out, it was found that there was no resolution signed by Thomas Jefferson declaring Ohio a state. A resolution was hurriedly drafted by the 83rd Congress, and President Dwight D. Eisenhower signed it on Aug. 7, 1953. It was retroactive to March 1, 1803. Former Ohio Gov. James Edwin Campbell raised the controversy way back in 1924. He said then: "Congress never admitted Ohio to the union. The fact need not alarm you for the state undoubtedly is in the union, although nobody knows exactly when it got in."
  </p>
  <p data-paragraph-id="1ab4e238-9270-426b-b553-0a363aa912b0" data-paragraph-length="381">
   Leland Conner of Logan, Ohio called my attention to this situation about a week after Sullivan did. I had been writing columns about Statehood Day on March 1. "Was Ohio the 17th state in the Union or the 48th?" he asked. N.H. Ferrier of Worthington asked me to check into the question to find out whether "the politicians of 1803 were as screwed up as the present-day politicians."
  </p>
  <p data-paragraph-id="91f1a29e-b1f4-4f2d-8df9-a39c209746e9" data-paragraph-length="241">
   Amos Loveday, curator at the Ohio Historical Society, said that, although no statehood resolution was passed, most historians agree that Ohio was legally a state and that the 1953 congressional legislation was more or less a publicity stunt.
  </p>
  <p data-paragraph-id="5b84f7ca-bca2-40b3-b16c-15612b322904" data-paragraph-length="516">
   Back in the early days of the republic, the process for admitting states was still primitive. An enabling act had been passed and signed by Jefferson that spelled out what Ohio had to do to become a state. Ohio had to have a required population, elect a legislature and draft a constitution. The state complied with all that and submitted its constitution to the Congress for review. Approval was written in a bill, and Jefferson signed it. Ohio was legally a state, according to the process back then, Loveday said.
  </p>
  <p data-paragraph-id="7ecae69e-7705-4bd7-82e1-bac55ea9cae6" data-paragraph-length="214">
   The process changed, however, with the admission of Indiana and Louisiana, the next states admitted after Ohio. With those states, Congress passed a separate resolution formally declaring them states, Loveday said.
  </p>
  <p data-paragraph-id="c832c6ed-ff25-4e14-b00a-aa65bce86e3e" data-paragraph-length="86">
   John Switzer,
   <i>
    Yes, Virginia, Ohio is a State,
   </i>
   Columbus Dispatch, Feb. 23, 1993, at 8B.
  </p>
  <p data-paragraph-id="eeb289a0-3c9c-48c3-87ac-ca2f1a9fd19b" data-paragraph-length="407">
   <a href="#fn2" name="2">
    2
   </a>
   Other courts have rejected challenges to the imposition of income taxes under the Sixteenth Amendment based (indirectly) upon alleged flaws in the process by which Ohio was admitted to the Union.
   <i>
    See, e.g.
   </i>
   <i>
    Knoblauch v. Commissioner of Internal Revenue,
   </i>
   749 F.2d 200, 201 (5th Cir. 1984) (rejecting this argument as "totally without merit"),
   <i>
    cert. denied,
   </i>
   474 U.S. 830, 106 S.Ct. 95, 88 L.Ed.2d 78 (1985).
  </p>
  <p data-paragraph-id="1d3c928d-a2da-4bc5-8dff-f089f6ab5756" data-paragraph-length="86">
   <a href="#fn3" name="3">
    3
   </a>
   There is also some question whether Mr. Bowman has standing to assert such a claim.
  </p>
  <p data-paragraph-id="59461cd0-fa9c-4811-9429-d1776054c006" data-paragraph-length="706">
   <a href="#fn4" name="4">
    4
   </a>
   Assuming the accuracy of the article in the
   <i>
    Columbus Dispatch
   </i>
   quoted in footnote 1,
   <i>
    supra,
   </i>
   it appears that, in 1953, on the occasion of the sesquicentennial of Ohio's admission to statehood, Congress &#8212; on being advised that in 1803 there had been no presidentially approved congressional declaration of Ohio's admission &#8212; enacted, and President Eisenhower signed, a resolution declaring Ohio's statehood, retroactive to March 1, 1803. This event appears to have been purely ceremonial, however; for instance, there is no indication that Congress saw it to be necessary to correct the many problems that would have resulted had there been an actual defect in the process of Ohio's admission to the Union.
  </p>
  <p data-paragraph-id="7974af59-ac77-4f93-90a2-74f8036d8489" data-paragraph-length="937">
   <a href="#fn5" name="5">
    5
   </a>
   The relevant provision of the Constitution, Article IV, section 3, provides only: "New states may be admitted by the Congress into this Union...." There have been, to this court's knowledge, no cases addressing either what process this provision requires Congress to follow or whether the courts can pronounce on this question. The courts have in some instances decided cases relating to the
   <i>
    terms
   </i>
   of a state's admission to the Union, however, so it would appear that at least some questions relating to the admissions process are justiciable.
   <i>
    See, e.g.
   </i>
   <i>
    Coyle v. Smith,
   </i>
   221 U.S. 559, 575, 31 S.Ct. 688, 693, 55 L.Ed. 853 (1911) (finding unconstitutional a restriction placed upon the location of the capital of the state of Oklahoma in the legislation admitting Oklahoma to the Union, as Congress had no independent power to impose such a restriction and because no such power derived from its power to admit new states to the Union).
  </p>
  <p data-paragraph-id="3bf1ce75-2766-4444-a870-a8879281bd67" data-paragraph-length="8">
   --------
  </p>
 </body>
</html>